@import url(reset.css);



body {
	color: #767676;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	min-width: 980px;
}

.clear {
	clear: both;
}

#header {
	background: #dcdcdc;
	
}

#header_content {
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

#logo {
	width: 273px;
	height: 100px;
	float: left;
	margin: 55px 0 65px 0;
}

#contacts {
	float: right;
	margin: 32px 0 71px 0;
	text-align: right;
}

#contacts p {
	font-size: 34px;
}

#contacts a {
	color: #767676;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px dashed;
	text-align: right;

}

#top_menu {
	background: #777777;
}

#inner_menu {
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
}

#inner_menu ul {
	overflow: hidden;
	height: 70px;
	width: 1035px;
	margin: 0 auto;
}

#inner_menu ul li {
	float: left;
	margin: 20px 5px 20px 19px;
	border-left: 3px solid #ffffff;
	line-height: 1;
	padding-left: 23px;
}

#inner_menu ul li:first-child {
	border: none;
	margin-left: 34px;
	padding: 0;
}

#inner_menu ul li a {
	font-size: 30px;
	color: #ffffff;
	text-decoration: none;
	line-height: 1;
}

#inner_menu ul li a:hover {
	text-decoration: underline;
}

#slider {
	position: relative;
}

#slide1 img {
	width: 100%;
}

#left_arrow {
	top: 180px;
	left: 265px;
}

#right_arrow {
	top: 180px;
	right: 265px;
}

#left_arrow, #right_arrow {
	width: 34px;
	height: 61px;
	position: absolute;
}

#wrapper {
	color: #767676;
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 10px 0 10px;
	overflow: hidden;
}

#wrapper a {
	color: #767676;
}

#categories ul {
	margin: 0 0 7px 0;
}

#categories ul li {
	background: url(../images/categories_slash.png) no-repeat 0 3px;
	float: left;
	font-size: 14px;
	padding-left: 18px;
	margin-right: 5px;
	
}

#categories ul li:first-child {
	background: none;
}

#categories ul li a:hover {
	text-decoration: none;
}

#side_bar {
	width: 244px;
	float: left;
}

#side_bar, #content {
	margin-top: 28px;
}

#side_bar a {
	text-decoration: none;
}

#content {
	margin-left: 244px;
	overflow: hidden;
}

#side_bar_menu {
	font-size: 19px;
}


#side_bar_menu li {
	margin: 15px 0;
}

#side_bar_menu li:first-child {
	margin-top: 0;
}

#side_bar_menu a {
	margin-left: 0;
}

#side_bar_menu a:focus {
	text-decoration: underline;
}

#side_bar_premenu {
	font-size: 15px;
	margin-left: 5px;
}

#side_bar_premenu a {
	margin-left: 6px;
}

#side_bar_premenu li {
	background: url(../images/disc.png) no-repeat 1px 6px;
	margin: 10px 0;
	padding-left: 6px;
}

#side_bar_premenu li:first-child {
	margin-top: 8px;
}

#side_bar_premenu a:hover {
	color:  #030303;
	text-decoration: underline;
}

#price_list {
	margin-top: 110px;
	text-align: center;
}

#price_list p {
	color: #444444;
	margin-top: 5px;
	font-size: 32px;
	font-weight: bold;
}

.products {
	width: 30%;
	background-color: #dbdbdb;
	float: left;
	margin-left: 4%;
	margin-bottom: 20px;
}

.products a {
	display: block;
	width: 210px;
	height: 210px;
	margin: 33px auto;
}

#first_row, #second_row {
	min-width: 960px;
	width: 100%;
	overflow: hidden;
}

#first_row div:first-child, #second_row div:first-child {
	margin-left: 0;
}

.product_description span {
	background: url(../images/product_bg.png) no-repeat right;
	display: block;
	padding-right: 30px;
	margin-top: 57px;
}

.product_description {
	color: #7d7d7d;
	font-size: 18px;
	margin: 19px 35px 20px 27px;
}

.product_description span {
	color: #444444;
	font-size: 28px;
}

#second_row .price,  #first_row .price {
	height: 22px;
	text-decoration: none;
}

#navigation {
	width: 230px;
	margin: 0 auto;
}

#navigation ul {
	overflow: hidden;
}

#navigation li {
	float: left;
	font-size: 14px;
	margin: 12px;
	position: relative;
}

#navigation a {
	text-decoration: none;
}

#navigation a:focus {
	font-size: large;
	color: black;
	position: absolute;
	bottom: -14px;
	right: -5px;
}

#low_content {
	border-top: 1px solid #777777;
	padding-top: 33px;
	margin-top: 60px;
	font-size: 14px;
	line-height: 2;
}

#par1 {
	width: 47%;
	float: left;
	margin-right: 6%;
}

#par2 {
	float: right;
	width: 47%;	
}

#footer {
	background: #777777;
	margin-top: 204px;
	padding-top: 47px;
	padding-bottom: 47px;
}

#footer_content {
	line-height: 1.7;
	font-size: 14px;
	color: #ffffff;
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

#footer_content a {
	color: #ffffff;
}

#footer_content span a {
	text-decoration: none;
}

#footer_div3 {
	width: 26%;
	float: left;
	margin-left: 5%;
}

#footer_div2 {
	margin-left: 5%;
}

#footer_div1, #footer_div2 {
	width: 32%;
	float: left;
}

#footer_div3 p:first-child {
	line-height: 1;
}

#footer_div3 img {
	float: left;
	width: 45px;
	height: 31px;
	margin-right: 9px;
	margin-top: 9px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}

.popup {
    top: 25%;
    left: 0;
    right: 0;       
    font-size: 14px;
    margin: auto;
    width: 32%;
    min-width: 322px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}

.popup h1 {
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	margin-bottom: 33px;
	margin-top: 20px;
}

.close {
    top: -27px;
    right: -27px;
    width: 27px;
    height: 27px;
    position: absolute;
    border: none;
    background: url(../images/close.png) no-repeat;
    cursor: pointer;
    outline: none;
 
}

#button {
	font-size: 50px;
	background: #777777;
	color: #ffffff;
}

#input1 {
	border: 1px solid #c3c3c3;
	height: 37px;
	width: 335px;	
}

#input2 {
	border: 1px solid #c3c3c3;
	height: 37px;
	width: 335px;	
}

#input3 {
	background: url(../images/formbg.png) no-repeat;
	border: none;
	color: #dc7f7f;
	font-style: italic;
	height: 40px;
	width: 339px;
	padding-left: 14px;
}

#text {
	border: 1px solid #c3c3c3;
	height: 130px;
	width: 335px;
	resize: none;
}

form {
	font-family: 'PT Sans', sans-serif;
}

form label {
	font-size: 14px;
}

form #button {
	border: none;
	cursor: pointer;
	font-size: 17px;
	margin-top: 20px;
	height: 42px;
	text-transform: uppercase;
	width: 128px;
}

form p {
	text-align: center;
	margin-bottom: 7px;
}

.formparag {
	margin-top: 18px;
}