    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for test_project
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName test_project.localhost
      DocumentRoot "D:\USR\www\test_project1.localhost\web"
      DirectoryIndex index.php
      <Directory "D:\USR\www\test_project1.localhost\web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "D:\USR\www\test_project1.localhost\data\web\sf"
      <Directory "D:\USR\www\test_project1.localhost\data\web\sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
